.search-bar {
    display: flex;
    flex-direction: column;

    & input[type='text'] {
        padding: 10px;
        margin-bottom: 10px;

        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: 26px;
    }

    & input[type="checkbox"] {
        margin-bottom: 20px;
    }
}